#card {
  font-family: 'Ubuntu', sans-serif;
}
.card-container {
}
.active:hover {
  transition: transform .5s ease-in;
  transition: transform .5s ease-out;
  transform: scale(1.1);
}

.card {
  background-color: #fdfdfd;
  border-color: black;
}


