.form-container {
  display: block;
  text-align: center;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  max-width: 60%;
  margin-left: 20%
}

.form-background {
  height: 200vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/images/background.jpg");
  background-position: 50% 55%;
  background-size: 100% 100%;
  opacity: 0.8;
}

.form-control {
  max-width: 60%;
  display: inline-block;
  margin: auto auto;
  background-color: whitesmoke;
}

.form-btns {
  margin: 10px 10px;
  padding: 10px 10px;
  display: inline-block;
}

#imageUpload {
  margin-left: 25%;
  max-width: 25%;
}

#image-file-btn {
  color:rgb(95, 0, 0)
}

.record-types-btns {
  color: black;
  margin: 10px 10px;
  padding-bottom: 10px;
}

.form-title {
  text-align: center;
  color: rgb(95, 0, 0);
  padding: 10px 10px
}
.form-text {
  color: rgb(95, 0, 0);
  font-size: 1vw;
  padding: 10px 10px;
}

.cancel {
  float: left;
  margin-right: 15px;
}

.submit {
  float: right;
  margin-left: 15px;
}

#textarea {
  margin-top: 3%;
  margin-bottom: 2%;
}



