#input-default {
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

.search {
max-width: 1000px;
display: block;
margin: auto;
width: 25%;
border-color: #1d1d1d;
text-align: center;

}

p {
  font-size: 20px;
  white-space: nowrap;
  font-family: 'Ubuntu', sans-serif;
}
